<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Covid Tracker</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://unpkg.com/jquery"></script>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>

<body class="{% block body_class %}{% endblock %}">

  <nav class="navbar navbar-expand navbar-light bg-light fixed-top pt-0 pb-0">
    <div class="container-fluid">

      <div class="navbar-header">
        <a href="/" class="navbar-brand p-0">
          <span class="small">Covid Tracker</span>
        </a>
          <hr >
          <span class="text-muted xs">Data from the
            <a class = "xs text-muted" href="https://dev.socrata.com/foundry/health.data.ny.gov/xdss-u53e">New York State Department API</a>
             </span>
      </div>

      <ul class="nav navbar-nav navbar-right">

        {% if not g.user %}
        <li class="nav-item"><a href="/signup" class='nav-link'>Sign up</a></li>
        <li class="nav-item"><a href="/login" class='nav-link'>Log in</a></li>
        {% else %}
        <li class="nav-item">
          <a href="/locations/add" class='nav-link'>Add a Tracker</a>

        </li class="nav-item">
        <form class="nav-item" action="/logout" method="POST">
          {{ g.UserLogoutForm.hidden_tag() }}
          <li class="nav-item"><button class="btn btn-link border-0 nav-link" href="/logout">Log out</button></li>
        </form>
        {% endif %}

      </ul>
    </div>
  </nav>

  <div id="main-container" class="container-fluid">

    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}

  </div>

  

  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v6.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <script src="/static/script.js"></script>
</body>

</html>